
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  line-height: 1.4;
}

a{
  text-decoration: underline;
  color: white;
}

.clear{
  clear: both;
}

strong{
  font-weight: 900;
}

.centerText{
  text-align: center;
}


/* header */
.stuckHeader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  /* height: 20px; */
  /* background-color: #ffffff92; */
  z-index: 999;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.2); */
  padding: 20px 20px;
}

.blenderTopLogo{
  height: 40px;
  width: auto;
}

.fullHeader{
  width: 100%;
  height: 100vh;
  background-image: url(../assets/pngs/JuliaBW_blender_DanielaP-2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.gradientOverlay{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.189), rgb(0, 0, 0));
  position: absolute;
  top: 0;
  left: 0;
}

.fullHeader .headTitles{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  /* font-size: 1.5rem; */
  text-align: center;
}

.fullHeader h1{
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}

.fullHeader h2{
  color: white;
  font-size: 1rem;
  text-align: center;
  width: 75%;
  margin: auto;
}







/* main */

.HalfPageBlock{
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.HalfPageBlockBackgroundOne{
  background-image: url(../assets/pngs/Background1.jpg);
}

.HalfPageBlockBackgroundThree{
  background-image: url(../assets/pngs/radio.jpg);
}

.HalfPageBlockBackgroundTwo{
  background-image: url(../assets/pngs/BlenderPattern1.png);
}



.HalfPageBlock .blockLeft{
  width: 50%;
  margin-top: 5vh;
  height: 40vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HalfPageBlock .blockRight{
  width: 50%;
  margin-top: 5vh;
  height: 40vh;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.LtoRGradient{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.541));
}

.RtoLGradient{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

.glassEffect{
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(.1em);
  backdrop-filter: blur(.1em);
}

h2{
  color: white;
  font-size: 1.5rem;
  text-align: left;
  width: 75%;
  margin: auto;
}

p{
  color: white;
  font-size: 1rem;
  text-align: left;
  width: 75%;
  margin: auto;
}

p strong{
  /* color: #ff0000; */
  font-size: 1.5rem;
  font-weight: 900;

}

button{
  background-color: #ffffff3e;
  color: white;
  border: none;
  margin-top: 10px;
  padding: 5px 20px 8px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
  scale: 1! important;
}

button:hover{
  background-color: #ffffff;
  color: black;
  scale: 1.1! important;
}

img{
  width: 80%;
  object-fit: cover;
}



.fullPageImgBack{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

}

.fullPageImgBackImgOne{
  background-image: url(../assets/pngs/BlenderPattern1.png);
}

.fullPageImgBackImgTwo{
  background-image: url(../assets/pngs/blender_DanielaP.jpg);
}

.contactForm{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  /* background-color: #000000; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.radioFrame{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 80%; */
  width: 70%;
  aspect-ratio: calc(16/9);
  /* background-color: #000000; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.radioFrame .title{
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: left;
  align-items: center;
}

.radioFrame .title img{
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.devider{
  width: 100%;
  height: 1px;
  background-color: rgb(0, 0, 0);
  padding: 20px 0;
}


/* footer */

footer{
  width: 100%;
  /* height: 100px; */
  padding: 20px 0;
  background-color: #000000;
  color: #ffffff;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.footerBlockOneThirth{
  width: 33.33%;
  float: left;
  margin-bottom: 50px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* background: pink; */
}

footer p{
  font-size: .8rem;
}

.logoInFooter{
  width: 100px;
  height: auto;
  margin-left: 50%;
  translate: -50% 0;
}

p.credits{
  font-size: .5rem;
  text-align: center;
  margin-top: 20px;
}












@media (max-width: 900px) {
  .fullHeader h1{
    font-size: 1.5rem;
  }
  
  .fullHeader h2{
    font-size: .5rem;
  }

  p{
    font-size: .5rem;
  }
  p strong{
    font-size: 1rem;
  }
  button{
    font-size: .5rem;
  }
}
@media (max-width: 500px) {
  .footerBlockOneThirth{
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
  .fullHeader h2{
    font-size: .5rem;
  }

  p{
    font-size: .5rem;
  }
}
